In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
numberFormat = "+650000"

numbers = np.array([], dtype=str)
orderIDs = np.array([], dtype=np.int32)
addressIDs = np.array([], dtype=np.int32)
parcelNumbers = np.array([], dtype=np.int32)

for i in range(1, 101):

    orderIDs = np.append(orderIDs, [1000 + i * 7]) 

    i = str(i)
    while len(i) < 4:   i = "0" + i

    numbers = np.append(numbers, [numberFormat + i])
    addressIDs = np.append(addressIDs, random.randint(1, 10))
    parcelNumbers = np.append(parcelNumbers, np.floor(np.abs(np.random.normal(0, 1.5)) + 1))

parcelNumbers = parcelNumbers.astype(np.int32)

array([2, 3, 1, 1, 2, 2, 2, 1, 1, 3, 1, 1, 4, 1, 2, 2, 2, 1, 3, 2, 1, 1,
       1, 2, 1, 4, 4, 1, 4, 2, 2, 3, 1, 1, 2, 2, 1, 2, 2, 1, 1, 2, 1, 1,
       1, 1, 3, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 3, 1, 1, 1, 2, 2, 3, 1, 1,
       1, 1, 3, 3, 1, 4, 2, 2, 2, 2, 2, 3, 1, 1, 4, 1, 1, 2, 1, 2, 2, 1,
       6, 2, 2, 2, 1, 4, 1, 1, 2, 2, 3, 4])

In [5]:
df = pd.DataFrame(
    {"userID": numbers,
    "orderID" : orderIDs,
    "addressID" : addressIDs,
    "parcelNumber" : parcelNumbers}
)

df.head(20)

         userID  orderID  addressID  parcelNumber
0   +6500000001     1007          4           2.0
1   +6500000002     1014          9           3.0
2   +6500000003     1021          6           1.0
3   +6500000004     1028          7           1.0
4   +6500000005     1035          6           2.0
5   +6500000006     1042          7           2.0
6   +6500000007     1049         10           2.0
7   +6500000008     1056          1           1.0
8   +6500000009     1063          3           1.0
9   +6500000010     1070          1           3.0
10  +6500000011     1077          7           1.0
11  +6500000012     1084         10           1.0
12  +6500000013     1091          2           4.0
13  +6500000014     1098          3           1.0
14  +6500000015     1105         10           2.0
15  +6500000016     1112          7           2.0
16  +6500000017     1119          5           2.0
17  +6500000018     1126          8           1.0
18  +6500000019     1133         10           3.0
19  +6500000020     1140          1           2.0